*{
  margin: 0;
  padding: 0;
}

Body{
  font-family: Arial, Helvetica, sans-serif;
  Background: #F4F9F8;
  line-height: 1.6;
  margin: 10px;
}

.header{
  background: #16A085;
  padding: 10px;
  color: #FFFFFF;
  border-radius: 15px;
  margin: 10px;
  position: sticky;
  top: 0;
}

span{
  color: #FAD02E;
}

.head{
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.span{
  color: #16A085;
}

.image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img{
  width: 100%;
}

p{
  color: #2C2C2C;
  font-family: amaranth Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li{
  font-weight: bold;
  font-family: amaranth Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #2C2C2C;
}

.btn{
  background: #16A085;
  padding: 10px;
  margin: 20px;
  margin-top: 50px;
  border-radius: 10px;
  font-weight: bold;
  color: #2C2C2C;
}

h3{
  font-weight: bold;
  text-align: left;
}